body {

      background-color: black;
        color: white;
          display: flex;



		  }

		.titre {


		  margin:0px;
		  top: 0px;
		  left: 0px;
      background-color:#556B2F;
      color: white;




    	  }

.photo1{


  background-color: grey;










}
.capacity
{

}
